@import 'tailwindcss';
@plugin '@iconify/tailwind4';

@plugin 'flyonui' {
  themes: all;
}

@import 'flyonui/variants.css';
@source '../../node_modules/flyonui/flyonui.js';
/* tailwind intersect */
@import 'tailwindcss-intersect';

/* tailwind motion */
@plugin 'tailwindcss-motion';

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto;
  --font-public-sans: 'Public Sans', ui-sans-serif, system-ui;
  --font-archivo: 'Archivo', ui-sans-serif, system-ui;
  --font-rubik: 'Rubik', ui-sans-serif, system-ui;
  --font-montserrat: 'Montserrat', ui-sans-serif, system-ui;
  --font-fira-code: 'Fira Code', ui-monospace, monospace;
}

/* Custom theme styles for demos */
@plugin 'flyonui/theme' {
  name: corporate;
  font-family: 'Public Sans';
}

@plugin 'flyonui/theme' {
  name: ghibli;
  font-family: Amaranth;
}

@plugin 'flyonui/theme' {
  name: gourmet;
  font-family: Rubik;
}

@plugin 'flyonui/theme' {
  name: luxury;
  font-family: Archivo;
}

@plugin 'flyonui/theme' {
  name: slack;
  font-family: lato;
}

@plugin 'flyonui/theme' {
  name: soft;
  font-family: Montserrat;
}

@plugin 'flyonui/theme' {
  name: valorant;
  font-family: 'work sans';
}

@plugin 'flyonui/theme' {
  name: spotify;
  font-family: lato;
}

@plugin 'flyonui/theme' {
  name: vscode;
  font-family: 'Fira Code';
}

@plugin 'flyonui/theme' {
  name: claude;
  font-family: Geist;
}

@plugin 'flyonui/theme' {
  name: pastel;
  font-family: 'open sans';
}

/* Custom theme styles */

[data-theme='dark']
  li:not(.menu-title, .menu-disabled)
  > :not(ul, .menu-title, .collapse, .accordion-content, .btn).menu-active {
  background-color: var(--color-primary);
  color: var(--color-primary-content);
}

body {
  color: color-mix(in oklab, var(--color-base-content) 80%, transparent);
}
