---
import AboutUs from '@/components/about-us.astro';
import Contact from '@/components/contact.astro';
import CTA from '@/components/cta.astro';
import Faq from '@/components/faq.astro';
import Hero from '@/components/hero.astro';
import Services from '@/components/services.astro';
import Team from '@/components/team.astro';
import Testimonials from '@/components/testimonial-main.astro';
import Layout from '@/layouts/layout.astro';
---

<Layout title="Landing Page">
  <div class="bg-base-100">
    <main>
      <Hero />
      <AboutUs />
      <Services />
      <!--<Testimonials />-->
      <!--<CTA />-->
      <!--<Team />-->
      <!--<Contact />-->
      <!--<Faq />-->
    </main>
  </div>
</Layout>
