---
import OptimizedImage from '@/components/shared/optimized-image.astro';
import StatItem from '@/components/stat-item.astro';
import { siteConfig } from '@/config';
---

<section id="about-us">
  <div class="bg-base-200 py-8 sm:py-16 lg:py-24">
    <div class={`${siteConfig.container}`}>
      <div class="flex flex-col gap-12 md:gap-16 lg:gap-24">
        {/* Header */}
        <div class="space-y-4 text-center">
          <h2 class="text-2xl font-semibold text-base-content md:text-3xl lg:text-4xl">Sobre a Mota Divisórias</h2>
          <p class="text-xl text-base-content/80">
            Com experiência e compromisso, a Mota Divisórias atua em Belém e região oferecendo soluções completas em divisórias, forros, vidros e pisos. Cada projeto é executado com atenção aos detalhes, garantindo qualidade, estética e praticidade.
          </p>
          <!--<a href="#" class="btn btn-gradient btn-lg btn-primary">-->
          <!--  Read More-->
          <!--  <span class="icon-[tabler&#45;&#45;arrow-right] size-5 rtl:rotate-180" aria-hidden="true">-->
          <!--  </span>-->
          <!--</a>-->
        </div>

      </div>
    </div>
  </div>
</section>
