---
import OptimizedImage from '@/components/shared/optimized-image.astro';
import { siteConfig } from '@/config';
---

<section id="home">
  <div class="flex h-full flex-col justify-between gap-18 py-8 pt-40 sm:py-16 md:gap-24 md:pt-45 lg:pt-47.5">
    <div
      class={`${siteConfig.container} flex flex-col items-center gap-6 justify-self-center text-center`}
    >
      <div class="w-fit rounded-full border border-base-content/20 bg-base-200 px-3 py-1">
        <span>Há 40 anos transformando ambientes ❤️</span>
      </div>
      <h1
        class="relative z-1 text-5xl leading-[1.15] font-bold text-base-content max-md:text-2xl md:max-w-3xl"
      >
        <span>
          Soluções em Divisórias
          <br />
          para Empresas e Residências
        </span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="348"
          height="10"
          viewBox="0 0 348 10"
          fill="none"
          class="absolute -bottom-1.5 left-25 -z-1 max-lg:left-4 max-md:hidden"
        >
          <path
            d="M1.85645 8.23715C62.4821 3.49284 119.04 1.88864 180.031 1.88864C225.103 1.88864 275.146 1.32978 319.673 4.85546C328.6 5.24983 336.734 6.33887 346.695 7.60269"
            stroke="url(#paint0_linear_17052_181397)"
            stroke-width="2"
            stroke-linecap="round"
          >
          </path>
          <defs>
            <linearGradient
              id="paint0_linear_17052_181397"
              x1="29.7873"
              y1="1.85626"
              x2="45.2975"
              y2="69.7387"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="var(--color-primary)"></stop>
              <stop offset="1" stop-color="var(--color-primary-content)"></stop>
            </linearGradient>
          </defs>
        </svg>
      </h1>
      <p class="max-w-3xl text-base-content/80">
        Divisórias modernas, funcionais e com acabamento premium para transformar ambientes.
      </p>
      <a href="https://wa.me/559189359657" target="_blank"class="btn btn-gradient btn-lg btn-primary">
        Solicitar orçamento
        <span class="icon-[tabler--arrow-right] size-5 rtl:rotate-180"></span>
      </a>
    </div>

    <OptimizedImage
      src="/assets/img/divisorias.jpg"
      alt="Delicious dishes served at our restaurant"
      loading="lazy"
      fetchPriority="high"
      class="min-h-67 w-full object-cover"
    />
  </div>
</section>
